header{
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-advert{
  display: flex;
  gap: 10px;
}

.header-advert p{
   font-size: 14px;
   color: white;
}

.header-advert a{
  color: white;
  font-size: 16px;
  font-weight: 550;
}