nav {
    padding-top: 40px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
  }
  
  .nav-btns {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  